{
	"phueBridgeIp": {
		"defaultValue": "",
		"dataType": "string",
		"isSensitve": false,
		"description": "Philips Hue bridge IP if known, otherwise it will be auto discovered if possible"
	},
	"matchLightWithDaytime": {
		"defaultValue": false,
		"dataType": "boolean",
		"isSensitve": false,
		"description": "Have your turned on lights change their scene automatically as the day advances."
	}
}
